body {
  margin: 0px 50px;
}

div>h1 {
  font-size: 1.5em;
}

i {
  padding-right: 5px;
  padding-left: 8px;
}

.panelspec {
  padding-right: 10px;
}

.error {
  color: red;
}

.cursor {
  cursor: pointer;
}

.my-special-animation.ng-enter {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity: 0;
}

.my-special-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
